<div class="chat-container">
  <form (ngSubmit)="onSubmit(chatForm)" #chatForm="ngForm">
    <div class="row">
      <div class="col-sm-9">
        <mat-form-field id="chatInputWrapper">
          <input 
            name="chatInput"
            matInput 
            placeholder="Let's talk"
            ngModel
            (keydown)="runthis($event, chatForm)"
          >
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <button type="submit" mat-raised-button color="primary">Send</button>
      </div>
    </div>
  </form>
</div>