
<div class="chat-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="chatInputForm">
    <div class="row">
      <div class="col-sm-9">
        <mat-form-field id="chatInputWrapper">
          <input
            autofocus
            name="chatInput"
            matInput
            formControlName="chatInput"
            placeholder="Let's talk"
            (keydown)="runthis($event)"
          >
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <button
          [disabled]="this.chatInputForm.invalid"
          type="submit"
          mat-raised-button
          color="primary">Send</button>
      </div>
    </div>
  </form>
</div>
