.user-list-wrapper {
  height:93vh;
  background:#858fbe;
  -webkit-box-shadow: 18px -9px 34px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px -9px 34px -11px rgba(0,0,0,0.75);
  box-shadow: 18px -9px 34px -11px rgba(0,0,0,0.75);
}